fastapi==0.115.12
uvicorn==0.30.6
python-multipart==0.0.20
pandas==2.2.3
openpyxl==3.1.5
openai==1.84.0
instructor==1.8.3
markitdown[pdf, docx, xlsx]
google-genai==1.19.0
python-dotenv
# together==1.5.8
llama-index==0.12.43
llama-index-indices-managed-llama-cloud==0.7.7
# llama-index-embeddings-huggingface
llama-index-utils-workflow
llama-index-embeddings-google-genai==0.2.0
llama-index-llms-google-genai==0.2.1
llama-index-vector-stores-pinecone
llama-index-vector-stores-faiss==0.4.0
# pyvis
llama-index-experimental==0.5.6
